<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZTUIStyle.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B40C0E17295AF45300C0BC9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B40C0E32295AF45700C0BC9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B40C0E3C295AF45700C0BC9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
